<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunbocheng.springcloud.mapper.PayMapper">
    <update id="updatePay">
        UPDATE t_pay
        SET pay_no = #{payDTO.payNo},
            order_no = #{payDTO.orderNo},
            user_id = #{payDTO.userId},
            amount = #{payDTO.amount},
            deleted = #{payDTO.deleted}
        WHERE
            id = #{payDTO.id}
    </update>

    <select id="getPayById" resultType="com.yunbocheng.springcloud.entities.Pay">
        SELECT * FROM t_pay WHERE id = #{id}
    </select>

</mapper>